/* BOOKMARKS LIST */
h3.subtitle{
    padding: 0;
    margin: 0;
    margin-top: 20px;
    width: 95%;
    /* background: yellow; */
}

span.subtitle{
    font-size: 10px;
    padding-left: 10px;
}

div#bookmarks-list{
    margin: 0;
    padding: 0;
    /* background: green; */
}

ul.bookmarks-list{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 95%;
}

ul.bookmarks-list > li {
    min-height: 80px;
    max-height: 190px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin:0;
    border: 0;
    border-bottom: 1px solid #ccc;
}


ul.bookmarks-list > li:nth-child(even) {
    background: #e8e8e8;
}
/* /BOOKMARKS LIST */






/* BOOKMARKS LIST  ITEM*/
div.right {
    float: right;
    clear:  left;
}

div.bookmark-title {
    font-size: 14px;
    color: #aaa;

    /*truncate*/
    /*width: 350px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.bookmark-title > a {

    font-size: 14px;
    text-decoration: none;
}

div.bookmark-url {
    margin: 0;
    padding: 0;
    font-size: 9px;
    color: #888;

    /* truncate */
    /*width: 370px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.bookmark-description {
    max-height: 40px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    padding-top: 5px;
    font-size: 12px;
    /*font-style: italic;*/
    color: #444;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

div.bookmark-lastmodified {
    margin: 0;
    padding: 0;
    padding-top: 4px;
    font-style: italic;
}

div.tagsline > div {
    display: inline-block;
}

div.tagsline > ul {
    display: inline-block;
}

ul.tags-list {
    list-style: none;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    /* clear: both; */
}

ul.tags-list > li {
    display: inline-block;
    font-size: 11px;
    color: white;
    margin: 0;
    padding-right: 5px;
}

#delete-bookmark-button {
    display: none;
}

/* /BOOKMARKS LIST  ITEM*/