/* GENERIC */
body {
    font-family: sans-serif;
    font-size: 100%;
    background-color: #eee;
}

.boxed {
    padding: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

div.zero {
    margin: 0;
    padding: 0;
}

div.boxed {
    margin-bottom: 10px;
    width: 100%;
}

div.clear {
    clear: both;
}

div.input-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

span.input-group-addon {
    min-width: 70px;
    vertical-align: top;
    text-align: left;
}


#bottom-line {
    display: table;
    width: 100%;
    /* table-layout: fixed;  */
    border-spacing: 2px;
    font-size: 12px;
    padding-left: 2px;
    padding-right: 2px;
}

div.column {
    display: table-cell;
    height: 32px;
    /* line-height: 22px; */
    vertical-align: middle;
}

a.bottom-link {
    text-decoration: none;
}

div.right {
    text-align: right;
}
/* /GENERIC */




/* NOTIFICATION AREA */

#missing-options {
    margin: 10px;
    padding: 7px;
    font-size: 15px;
}

#notification-area {
    display: none;
}

div.notify, div.alarm {
    height: 80%;
    margin-top: 3px;
    padding: 3px;
    color: white;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

div.notify {
    /* green */
    background-color: #4cae4c;
}

div.alarm {
    /* red */
    background-color: #d43f3a;
}
/* /NOTIFICATION AREA */






/* TABS */
#freedommark-tabs {
    margin-top: 10px;
}

.nav-tabs>li {
    line-height: 10px;
}

.nav-tabs>li>a {
    font-size: 16px;
    font-weight: bold;
}

div.tab-content {
    width: 400px;
}

div.tab-content, div.tab-pane {
    margin: 0;
    padding: 5px;
    background-color: white;
}



/* /TABS */

/* BOOKMARK FORM */
#additional-info-box {
    width: 100%;
    height: 30px !important;
    margin:0;
    margin-bottom: 10px;
    padding: 5px;

}

#delete-bookmark {
    display: none;
}

#bookmark-additional-info {
    display: none;
}

ul.bookmark-additional-info {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    text-align: left;
    width: 370px;
}

ul.bookmark-additional-info > li{
    margin: 0;
    margin-right: 10px;
    padding: 0;
    display: inline-block;
}
/* /BOOKMARK FORM */


/*.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
    background-color: orange;
}
*/